* {
  margin: 0px;
  padding: 0px;
}

.container {
  max-width: 40%;
  margin: 0px auto;
  background-color: aliceblue;
}

form {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
  padding: 0.5rem;
}

form label {
  display: flex;
  justify-content: space-between;
}

input:invalid {
  border: 2px solid red;
}

input:valid {
  border: 2px solid green;
}
